In [1]:
%matplotlib inline

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
s = pd.Series([1,3,5,np.nan,6,8])
s

0    1.0
1    3.0
2    5.0
3    NaN
4    6.0
5    8.0
dtype: float64

In [3]:
datas = pd.date_range("20130101", periods=6)
datas
list("4456")

['4', '4', '5', '6']

In [4]:
df = pd.DataFrame(np.random.randn(6, 4), index=datas, columns=list('ABCD'))
df

                   A         B         C         D
2013-01-01  0.253336  0.826078 -1.326070 -1.500949
2013-01-02  0.205107  0.854595  0.004531 -0.556489
2013-01-03 -1.756432  0.263810 -0.075791  0.831204
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039
2013-01-06 -0.782060  1.603165  0.441553 -0.436582

In [5]:
df2 = pd.DataFrame({'A' : 1.,
                    'B' : pd.Timestamp('20130102'),
                    'C' : pd.Series(1,index=list(range(4)),dtype='float32'),
                    'D' : np.array([3] * 4,dtype='int32'),
                    'E' : pd.Categorical(["test","train","test","train"]),
                    'F' : 'foo' })

df2

     A          B    C  D      E    F
0  1.0 2013-01-02  1.0  3   test  foo
1  1.0 2013-01-02  1.0  3  train  foo
2  1.0 2013-01-02  1.0  3   test  foo
3  1.0 2013-01-02  1.0  3  train  foo

In [6]:
df2.dtypes

A           float64
B    datetime64[ns]
C           float32
D             int32
E          category
F            object
dtype: object

In [7]:
df.tail()

                   A         B         C         D
2013-01-02  0.205107  0.854595  0.004531 -0.556489
2013-01-03 -1.756432  0.263810 -0.075791  0.831204
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039
2013-01-06 -0.782060  1.603165  0.441553 -0.436582

In [8]:
df.index

DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

In [9]:
df.columns

Index([u'A', u'B', u'C', u'D'], dtype='object')

In [10]:
df.values

array([[ 0.25333565,  0.82607796, -1.32606997, -1.50094935],
       [ 0.2051066 ,  0.85459546,  0.00453106, -0.55648883],
       [-1.75643183,  0.26380972, -0.07579103,  0.83120415],
       [-0.73381601,  0.11269861, -0.82605952, -0.44823821],
       [-0.36365639, -1.46376826, -0.04290743,  0.47203866],
       [-0.78206049,  1.60316496,  0.44155287, -0.43658184]])

In [11]:
df.merge?

In [12]:
df.describe()

              A         B         C         D
count  6.000000  6.000000  6.000000  6.000000
mean  -0.529587  0.366096 -0.304124 -0.273169
std    0.747111  1.039580  0.646291  0.827048
min   -1.756432 -1.463768 -1.326070 -1.500949
25%   -0.769999  0.150476 -0.638492 -0.529426
50%   -0.548736  0.544944 -0.059349 -0.442410
75%    0.062916  0.847466 -0.007329  0.244884
max    0.253336  1.603165  0.441553  0.831204

In [13]:
df.sort_values('A')

                   A         B         C         D
2013-01-03 -1.756432  0.263810 -0.075791  0.831204
2013-01-06 -0.782060  1.603165  0.441553 -0.436582
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039
2013-01-02  0.205107  0.854595  0.004531 -0.556489
2013-01-01  0.253336  0.826078 -1.326070 -1.500949

In [14]:
df

                   A         B         C         D
2013-01-01  0.253336  0.826078 -1.326070 -1.500949
2013-01-02  0.205107  0.854595  0.004531 -0.556489
2013-01-03 -1.756432  0.263810 -0.075791  0.831204
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039
2013-01-06 -0.782060  1.603165  0.441553 -0.436582

In [15]:
df.sort_index(ascending=True)

                   A         B         C         D
2013-01-01  0.253336  0.826078 -1.326070 -1.500949
2013-01-02  0.205107  0.854595  0.004531 -0.556489
2013-01-03 -1.756432  0.263810 -0.075791  0.831204
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039
2013-01-06 -0.782060  1.603165  0.441553 -0.436582

In [16]:
df.sort_values(by="2013-01-01", axis=1, ascending=True)

                   D         C         A         B
2013-01-01 -1.500949 -1.326070  0.253336  0.826078
2013-01-02 -0.556489  0.004531  0.205107  0.854595
2013-01-03  0.831204 -0.075791 -1.756432  0.263810
2013-01-04 -0.448238 -0.826060 -0.733816  0.112699
2013-01-05  0.472039 -0.042907 -0.363656 -1.463768
2013-01-06 -0.436582  0.441553 -0.782060  1.603165

In [17]:
df

                   A         B         C         D
2013-01-01  0.253336  0.826078 -1.326070 -1.500949
2013-01-02  0.205107  0.854595  0.004531 -0.556489
2013-01-03 -1.756432  0.263810 -0.075791  0.831204
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039
2013-01-06 -0.782060  1.603165  0.441553 -0.436582

In [18]:
df.loc[datas[2],'A']

-1.7564318316619578

In [19]:
df.iloc[1]

A    0.205107
B    0.854595
C    0.004531
D   -0.556489
Name: 2013-01-02 00:00:00, dtype: float64

In [20]:
df.iat[0, 0]

0.25333564753608262

In [21]:
df[df > 0]

                   A         B         C         D
2013-01-01  0.253336  0.826078       NaN       NaN
2013-01-02  0.205107  0.854595  0.004531       NaN
2013-01-03       NaN  0.263810       NaN  0.831204
2013-01-04       NaN  0.112699       NaN       NaN
2013-01-05       NaN       NaN       NaN  0.472039
2013-01-06       NaN  1.603165  0.441553       NaN

In [22]:
df2= df.copy()
df2['E'] = list('ABCDEF')
df2[df2['E'].isin(['A','D'])]

                   A         B        C         D  E
2013-01-01  0.253336  0.826078 -1.32607 -1.500949  A
2013-01-04 -0.733816  0.112699 -0.82606 -0.448238  D

In [23]:
s1 = pd.Series([1, 2, 3, 4, 5, 6], index=pd.date_range('20130102', periods=6))
s1

2013-01-02    1
2013-01-03    2
2013-01-04    3
2013-01-05    4
2013-01-06    5
2013-01-07    6
Freq: D, dtype: int64

In [24]:
df['F'] = s1
df

                   A         B         C         D    F
2013-01-01  0.253336  0.826078 -1.326070 -1.500949  NaN
2013-01-02  0.205107  0.854595  0.004531 -0.556489  1.0
2013-01-03 -1.756432  0.263810 -0.075791  0.831204  2.0
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238  3.0
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039  4.0
2013-01-06 -0.782060  1.603165  0.441553 -0.436582  5.0

In [25]:
df.at[datas[0], 'A'] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.826078 -1.326070 -1.500949  NaN
2013-01-02  0.205107  0.854595  0.004531 -0.556489  1.0
2013-01-03 -1.756432  0.263810 -0.075791  0.831204  2.0
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238  3.0
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039  4.0
2013-01-06 -0.782060  1.603165  0.441553 -0.436582  5.0

In [26]:
df.iat[0, 1] = 0
df

                   A         B         C         D    F
2013-01-01  0.000000  0.000000 -1.326070 -1.500949  NaN
2013-01-02  0.205107  0.854595  0.004531 -0.556489  1.0
2013-01-03 -1.756432  0.263810 -0.075791  0.831204  2.0
2013-01-04 -0.733816  0.112699 -0.826060 -0.448238  3.0
2013-01-05 -0.363656 -1.463768 -0.042907  0.472039  4.0
2013-01-06 -0.782060  1.603165  0.441553 -0.436582  5.0

In [27]:
df.loc[:,'D'] = np.array([5] * len(df))
df

                   A         B         C  D    F
2013-01-01  0.000000  0.000000 -1.326070  5  NaN
2013-01-02  0.205107  0.854595  0.004531  5  1.0
2013-01-03 -1.756432  0.263810 -0.075791  5  2.0
2013-01-04 -0.733816  0.112699 -0.826060  5  3.0
2013-01-05 -0.363656 -1.463768 -0.042907  5  4.0
2013-01-06 -0.782060  1.603165  0.441553  5  5.0

In [28]:
df2 = df.copy()
#df2[df2 > 0] = -df
df2 > 0

                A      B      C     D      F
2013-01-01  False  False  False  True  False
2013-01-02   True   True   True  True   True
2013-01-03  False   True  False  True   True
2013-01-04  False   True  False  True   True
2013-01-05  False  False  False  True   True
2013-01-06  False   True   True  True   True

In [29]:
df1 = df.reindex(index=datas[0:4], columns=list(df.columns) + ['G', 'F'])
df1.loc['2013-01-02':datas[1],'D':'F'] = 1
df1

KeyError: "Cannot get right slice bound for non-unique label: 'F'"

In [ ]:
df1.dropna(how='any')

In [ ]:
df1.fillna(value=5)

In [ ]:
pd.isnull(df1)

In [ ]:
df.mean(1)

In [ ]:
s = pd.Series([1, 3, 5, np.nan, 6, 8], index=datas).shift(2)
s

In [ ]:
df.sub(s, axis='index')

In [ ]:
np.nan + 1

In [ ]:
df.apply(np.cumsum)

In [ ]:
df.apply(lambda x: x.max() - x.min())

In [ ]:
s = pd.Series(np.random.randint(0, 7, size=10))
s

In [ ]:
s.value_counts()

In [ ]:
h = s.hist()

In [ ]:
s = pd.Series(['A', 'B', 'C', 'Aaba', 'Baca', np.nan, 'CABA', 'dog', 'cat'])
s.str.lower()

In [ ]:
np.nan + 1

In [ ]:
df = pd.DataFrame(np.random.randn(10, 4))
df

In [ ]:
pieces = [df[:2], df[4:5], df[7:]]
pd.concat(pieces, keys=list('abc'))

In [ ]:
left = pd.DataFrame({'key':['foo', 'foo'], 'lval':[1, 2]})
right = pd.DataFrame({'key':['foo', 'foo'], 'rval':[3, 4]})
print left
print right

In [ ]:
pd.merge(left, right, on='key')

In [ ]:
df = pd.DataFrame(np.random.randn(8, 4), columns=list('ABCD'))
df

In [ ]:
s = df.iloc[3]
df.append(s, ignore_index=True)

In [ ]:
df = pd.DataFrame({
    'A' : ['foo', 'bar', 'foo', 'bar',
                          'foo', 'bar', 'foo', 'foo'],
                   'B' : ['one', 'one', 'two', 'three',
                          'two', 'two', 'one', 'three'],
                   'C' : np.random.randn(8),
                   'D' : np.random.randn(8)
})
df

In [ ]:
df.groupby('A').sum()

In [36]:
tuple = list(zip(*[['bar', 'bar', 'baz', 'baz',
                     'foo', 'foo', 'qux', 'qux'],
                    ['one', 'two', 'one', 'two',
                     'one', 'two', 'one', 'two']]))

index = pd.MultiIndex.from_tuples(tuple, names=['first', 'second'])
df = pd.DataFrame(np.random.randn(8, 2), index=index, columns=['A', 'B'])
print tuple
df

[('bar', 'one'), ('bar', 'two'), ('baz', 'one'), ('baz', 'two'), ('foo', 'one'), ('foo', 'two'), ('qux', 'one'), ('qux', 'two')]

                     A         B
first second
bar   one     0.386223 -0.583168
      two     1.267845 -0.408608
baz   one     1.816068 -1.250740
      two    -0.163518  0.970918
foo   one    -0.187302  0.048841
      two     0.187963  0.541962
qux   one     0.206394 -0.967054
      two    -1.196946 -0.259011